/* General */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #e6f0ff, #9cc2fa);
    margin-left: 3%;
    margin-right: 3%;
}

.blurred-bg {
    background: url('assets/tilemaker-blue-daytime-sky-with-clouds-3d-animation-style.png') repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(5px);
    opacity: 0.85;
}

/* Navigation */
nav {
    height: 80px;
    background: linear-gradient(to bottom, #0059b3, #004080);
    border-bottom: 2px solid #003366;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-radius: 0 0 20pt 20pt;
}

.logo {
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px #000;
    cursor: pointer;
    transition: transform 0.5s;
}

.logo:hover {
    transform: translateX(+5px);
}

.nav-items a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    text-shadow: 1px 1px 2px #000;
}

.nav-items a:hover {
    background: #004080;
    border-radius: 5px;
    cursor: pointer;
}

/* Responsive Navigation */
@media (max-width: 630px) {
    nav {
        height: auto;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding-bottom: 8px;
    }

    .nav-items {
        width: 100%;
        justify-content: center;
    }

    .nav-items a {
        padding: 10px;
        text-align: center;
        width: 100%;
    }

    .logo {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .logo:hover {
        transform: translateX(+0px);
    }
}

/* Main Page */
.about, .media-sample, .artPage {
    background: linear-gradient(to bottom, #ffffff, #cce0ff);
    border: 2px solid #003366;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.about:hover, .media-sample:hover, .artPage:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.about-container, .media-sample-container, .column-left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about h1, .media-header-row h1 {
    color: #003366;
    text-shadow: 0px 0px 2px #00000070;
    margin-bottom: 20px;
    text-align: center;
}

.about p, .media-header-row p {
    color: #004080;
    margin-bottom: 20px;
    text-shadow: 0px 0px 2px #00000070;
}

/* Media Page */
.artPage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.art-card {
    background: linear-gradient(to bottom, #f0f8ff, #dbefff);
    border: 2px solid #003366;
    border-radius: 15px;
    margin: 10px;
    padding: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    width: 22%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.art-card:hover {
    transform: translateY(-5px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.art-card img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.art-card h2 {
    color: #003366;
    margin-bottom: 10px;
}

.art-card p {
    color: #004080;
    text-shadow: 0px 0px 2px #00000070;
}

.media-content-row img {
    width: 22%;
    margin: 1%;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
}

.media-content-row img:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

/* Responsive Media Page */
@media (max-width: 768px) {
    .art-card {
        width: calc(50% - 40px); /* Two cards per row */
    }
}

@media (max-width: 480px) {
    .art-card {
        width: calc(100% - 40px); /* One card per row */
    }
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 700px;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
    padding-bottom: 8px;
}

button {
    background: linear-gradient(to bottom, #0066cc, #003366);
    color: white;
    border: 2px solid #002244;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
}

button:hover {
    background: linear-gradient(to bottom, #004080, #001a33);
    transform: scale(1.05);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.spacer {
    width: auto;
    height: 18px;
}

footer {
    height: 80px;
    background: linear-gradient(to bottom, #0059b3, #004080);
    border-top: 2px solid #003366;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px #000;
    border-radius: 20pt 20pt 0 0;
}
